<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.smwd.hungryinkal"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Test HIK App</name>
 
    <description>
        A simple test build of future HIK app.
    </description>
 
    <author href="http://smwd.com.au" email="sean@smwd.com.au">
        Sean McManus
    </author>
	
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="org.apache.cordova.contacts" />
	
	<plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://www.hungryinkal.com.au/*" />
	
</widget>